Host website
	HostName kienankb.com
	User ec2-user
Host git
	HostName git.kienankb.com
	User git
Host uniserver-admin
	HostName 52.23.195.72
	User admin
Host uniserver-ghost
	HostName 52.23.195.72
	User ghost
Host uniserver-git
	HostName 52.23.195.72
	User git
Host kratos
	Hostname kratos.cs.rpi.edu
	User PPCknighk3
Host q
	Hostname lp01.ccni.rpi.edu
	User PCP5kngh
