! special
*.foreground:   #cbdca4
*.background:   #000000
*.cursorColor:  #cbdca4

! black
*.color0:       #000000
*.color8:       #000000

! red
*.color1:       #aa8a53
*.color9:       #dcb26b

! green
*.color2:       #aa946e
*.color10:      #dcbf8e

! yellow
*.color3:       #a6ab93
*.color11:      #d6ddbd

! blue
*.color4:       #91aa62
*.color12:      #bbdc7e

! magenta
*.color5:       #8aaa52
*.color13:      #b2dc6a

! cyan
*.color6:       #97aa77
*.color14:      #c3dc9a

! white
*.color7:       #97aa77
*.color15:      #c3dc9a

xterm*faceName: SourceCodePro:size=9:antialias=true
xterm*forceBoxChars: true
